{% extends "layout.html" %}
{% block title %}Energy Load Analysis{% endblock %}
{% block content %}
    <div class="container">
        <h1>Welcome to the Energy Load Analysis Tool</h1>
        <p>This application allows you to visualize and analyze energy consumption data against energy generation data. 
           Upload your own hourly energy load data and overlay it with various energy generation sources to assess if the generation is sufficient to meet the demand.</p>
        <div class="cta-buttons">
            <a href="{{ url_for('dashboard') }}" class="btn">View Dashboard</a>
            <a href="{{ url_for('upload') }}" class="btn">Upload Data</a>
            
        </div>
    </div>
{% endblock %}