{% extends "layout.html" %}
{% block content %}
  <h1>Select a Source</h1>
  <h2>Load Sources</h2>
  <ul>
    {% for customer in customers %}
      <li>{{ customer.name }}
        <ul>
          {% for facility in customer.facilities %}
            <li>{{ facility.name }}
              <ul>
                {% for building in facility.buildings %}
                  <li>{{ building.name }}
                    <ul>
                      {% for meter in building.meters %}
                        <li>{{ meter.name }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <h2>Generation Sources</h2>
  <ul>
    {% for source in generation_sources %}
      <li>{{ source.name }} ({{ source.type }})</li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('upload') }}">Upload Data for a Source</a>
{% endblock %}
